### These files should get ignored no matter where they appear.

aclocal.m4
autom4te.cache/
build-aux/Makefile.in
build-aux/config.guess
build-aux/config.rpath~
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/mdate-sh
build-aux/texinfo.tex
config.h.in*
configure
doc/Makefile.in
find/Makefile.in
find/testsuite/Makefile.in
gl/Makefile.in
gl/lib/Makefile.in
gl/m4/extern-inline.m4~
gl/m4/glibc2.m4
gl/m4/intdiv0.m4
gl/m4/intl.m4
gl/m4/intldir.m4
gl/m4/intmax.m4
gl/m4/printf-posix.m4
gl/m4/uintmax_t.m4
gl/m4/visibility.m4
gnulib-tests/Makefile.in
lib/Makefile.in
locate/Makefile.in
locate/testsuite/Makefile.in
m4/Makefile.in
po/Makefile.in.in
po/Makevars.template
xargs/Makefile.in
xargs/testsuite/Makefile.in
Makefile.in